body {
    /*background-image:url("../img/foto3.jpg");
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */

    background: rgba(214,210,214,1);
    background: -moz-linear-gradient(top, rgba(214,210,214,1) 0%, rgba(214,210,214,1) 7%, rgba(222,222,222,1) 35%, rgba(219,219,219,1) 54%, rgba(240,240,240,1) 85%, rgba(240,240,240,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(214,210,214,1)), color-stop(7%, rgba(214,210,214,1)), color-stop(35%, rgba(222,222,222,1)), color-stop(54%, rgba(219,219,219,1)), color-stop(85%, rgba(240,240,240,1)), color-stop(100%, rgba(240,240,240,1)));
    background: -webkit-linear-gradient(top, rgba(214,210,214,1) 0%, rgba(214,210,214,1) 7%, rgba(222,222,222,1) 35%, rgba(219,219,219,1) 54%, rgba(240,240,240,1) 85%, rgba(240,240,240,1) 100%);
    background: -o-linear-gradient(top, rgba(214,210,214,1) 0%, rgba(214,210,214,1) 7%, rgba(222,222,222,1) 35%, rgba(219,219,219,1) 54%, rgba(240,240,240,1) 85%, rgba(240,240,240,1) 100%);
    background: -ms-linear-gradient(top, rgba(214,210,214,1) 0%, rgba(214,210,214,1) 7%, rgba(222,222,222,1) 35%, rgba(219,219,219,1) 54%, rgba(240,240,240,1) 85%, rgba(240,240,240,1) 100%);
    background: linear-gradient(to bottom, rgba(214,210,214,1) 0%, rgba(214,210,214,1) 7%, rgba(222,222,222,1) 35%, rgba(219,219,219,1) 54%, rgba(240,240,240,1) 85%, rgba(240,240,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d2d6', endColorstr='#f0f0f0', GradientType=0 );  
}

/*Esto sería el color de la barra de navegacion*/
.nav-wrapper{
  background-color: #705230;
}
  
/*cambio de color-fondo de la navegacion en pantallas pequeñas*/
.side-nav {
  background-color: #795548;
}

/*cambio de color-letra de la navegacion en pantallas pequeñas*/
.side-nav a {
  color: white;
}

.side-nav :hover a{
  color:black;
}